p {
  font-family: 'Nunito', sans-serif;
  line-height: 20px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 200%;
  font-weight: bold;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 180%;
  font-weight: bold;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 140%;
  font-weight: bold;
}

h4 {
  font-family: 'Nunito', sans-serif;
  font-size: 120%;
  font-weight: bold;
}
